html,
body {
  margin: 0;
  height: 100%;
  overflow: hidden;
}

#container {
  cursor: crosshair;
  padding: 20px;
}

#btn {
  margin-left: 20px;
}

#bucketsContainer {
  margin: 20px 20px 0 20px;
}

.bucket {
  display: inline-block;
  border: 1px solid black;
  text-align: center;
}
